<h1>Register</h1>
<div>
  <label>Usuario</label>
  <input type="text" ng-model="user.username">
</div>
<div>
  <label>Password</label>
  <input type="password" ng-model="user.password">
  <input type="password" ng-model="user.password2">
</div>
<div>
  <label>Primer Nombre</label>
  <input type="text" ng-model="user.firstName">
</div>
<div>
  <label>Segundo Nombre</label>
  <input type="text" ng-model="user.lastName">
</div>
<div>
  <label>Correo</label>
  <input type="text" ng-model="user.email">
</div>
<div>
  <label>Roles: </label>
  <label>Admin</label>
  <input type="checkbox" ng-model="rol.admin">
  <label>Student</label>
  <input type="checkbox" ng-model="rol.student">  
</div>
<div>
  <button ng-click="register(user,rol)">Register</button>
</div>
